.left-column{
    height: 50vh;
    /* max-height: 100vh; */
}

@media only screen and (min-width: 576px) {
    .left-column{
        position: fixed;
        height: 100vh;
    }
}

.profile-pic{
    height: 170px;
    border-radius: 9px;
}

.gallery-pic {
    width: 100%;
    /* max-width: 250px; */
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    /* grid-auto-rows: 200px; */
    grid-gap: 10px;
    justify-content: center;
}